asdsadasd
<div ng-controller="FormCategoryController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">Search poll</div>
        <div class="panel-body">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
        </div>
    </div>

    <div ng-controller="FormVoteController as ctrlVote">
        <div ng-repeat="form in ctrl.forms | filter:searchText">
            <div class="panel panel-default">
                <div class="panel-heading">
                    User: {{ form.Username}}
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-4">
                        <h3>Title: {{ form.Title}}</h3>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Category: {{ form.Category }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>State: {{ form.State }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Created on: {{ form.CreatedDate }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Deadline: {{ form.Deadline }}</h5>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="btn-group btn-group-justified">
                            <div ng-hide="form.Voted" class="btn btn-default" ng-click="vm.changePage(ctrlVote.changeID(form.Id))">Vote poll</div>
                            <div ng-if="form.Voted" class="btn btn-default" ng-click="vm.changePage(ctrl.viewResults(form.Id))">View results</div>
                            <div ng-if="vm.userData.username == form.Username" class="btn btn-default" ng-click="ctrl.deleteForm(form.Id)">Delete poll</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

