<input type="text" ng-model="searchText" class="form-control" placeholder="Search">

<div class="panel panel-primary" ng-controller="FormListCtrl as vm">


    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>User</td>
                    <td>Title</td>
                    <td>Category</td>
                    <td>Date</td>
                    <td>Deadline</td>
                    <td>State</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in vm.forms  | filter:searchText">
                    <td>{{ form.User}}</td>
                    <td>{{ form.Title}}</td>
                    <td>{{ form.Category }}</td>
                    <td>{{ form.Date }}</td>
                    <td>{{ form.Deadline }}</td>
                    <td>{{ form.State }}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>